<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Volodymyr Floreskul" />
    <meta name="description" content="Volodymyr's website" />
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
</head>

<body>
    <div class="header">
        <img src="images/volodymyr.png" width="100" />

        <div class="div-table profile_links">
            <div class="div-table-row">
                <div class="div-table-cell profile_logo"><img src="/images/linkedin_logo.png" width="40"/></div>
                <div class="div-table-cell"><a href="http://linkedin.com/in/volodymyrfloreskul">Linkedin</a></div>
            </div>
            <div class="div-table-row">
                <div class="div-table-cell profile_logo"><img src="/images/google_plus_logo.png" width="25"/></div>
                <div class="div-table-cell"><a href="https://plus.google.com/101912497163388897110">Google+</a></div>
            </div>
            <div class="div-table-row">
                <div class="div-table-cell profile_logo"><img src="/images/github_logo.png" width="40"/></div>
                <div class="div-table-cell"><a href="https://github.com/floreskul">GitHub</a></div>
            </div>
        </div>
    </div>
    
    {{ content }}
</body>
</html>