<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Volodymyr Floreskul" />
    <meta name="description" content="Volodymyr's website" />
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />

    <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-29109854-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();        
    </script>
</head>

<body>
    <div class="header">
        <center><img src="images/volodymyr.png" class="photo" /></center>
        <hr/>
        <p><a href="/">About</a></p>
        <p><a href="/talks">Talks</a></p>
        <hr/>

        <div class="div-table profile_links">
            <div style="display:table-header-group">Profiles:</div>
            <div class="div-table-row">
                <div class="div-table-cell profile_logo"><img src="/images/linkedin_logo.png" width="32"/></div>
                <div class="div-table-cell"><a href="http://linkedin.com/in/volodymyrfloreskul">Linkedin</a></div>
            </div>
            <div class="div-table-row">
                <div class="div-table-cell profile_logo"><img src="/images/google_plus_logo.png" width="20"/></div>
                <div class="div-table-cell"><a href="https://plus.google.com/101912497163388897110">Google+</a></div>
            </div>
            <div class="div-table-row">
                <div class="div-table-cell profile_logo"><img src="/images/github_logo.png" width="32"/></div>
                <div class="div-table-cell"><a href="https://github.com/floreskul">GitHub</a></div>
            </div>
        </div>
    </div>
    
    {{ content }}
</body>
</html>